<div class="min-h-screen">
  <div class="details-header relative mb-12" *ngIf="dates[0] && dates[0].courses && dates[0].programs && dates[0].offers">
    <img class="w-full object-cover course-image" src="{{dates[0].courses.image}}" alt="{{dates[0].offers.title}}">
    <div class="header-text absolute text-center left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
      <h1 class="mb-5 text-5xl font-bold">{{dates[0].offers.title}}</h1>
      <h2 class="mb-5 text-xl font-bold">{{dates[0].programs.program_name}} | {{dates[0].courses.course_name}}
        | {{dates[0].courses.semester}}.
        Semester</h2>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 text-center mx-4 content">
    <div>
      <p class="text-xl mb-4 font-bold">Informationen zum Angebot:</p>
      <p>{{dates[0].offers.information}}</p>
    </div>
    <div class="dates">
      <p class="text-xl mb-4 font-bold !block">Freie Termine:</p>
      <div class="flex flex-wrap gap-4 justify-center">
        <div *ngFor="let date of dates">
          <div *ngIf="!date.accepted && isInFuture(date.date_time) && !date.students " class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body">
              <h2 class="card-title">{{date.offers.title}}</h2>
              <p>freier Termin am: {{getDate(date.date_time)| date:'longDate'}}
                um {{getDate(date.date_time)| date:'shortTime'}}</p>
              <div class="card-actions justify-end">
                <label *ngIf="auth.isLoggedIn() &&date.tutors.id==userId" for="my-modal-delete-{{date.id}}"
                       class="btn btn-error modal-button">
                  Termin löschen
                </label>
                <!-- The button to open modal -->
                <label *ngIf="auth.isLoggedIn() && date.tutors.id!=userId" for="my-modal-{{date.id}}" class="btn btn-primary modal-button">jetzt
                  buchen</label>
                <p class="text-xs text-red-700" *ngIf="auth.isLoggedOut()">Du musst dich einloggen, um Termine buchen zu
                  können!</p>
              </div>
            </div>
            <!-- Put this part before </body> tag -->
            <input type="checkbox" id="my-modal-{{date.id}}" class="modal-toggle"/>
            <label for="my-modal-{{date.id}}" class="modal cursor-pointer">
              <label class="modal-box relative" for="my-modal-{{date.id}}">
                <h3 class="text-lg font-bold">Termin buchen!</h3>
                <p class="py-4">Möchtest du den Termin am <br><strong>{{getDate(date.date_time)| date:'longDate'}}
                  um {{getDate(date.date_time)| date:'shortTime'}}</strong><br> wirklich buchen?</p>
                <button class="btn btn-primary" (click)="book(date)">jetzt verbindlich buchen!</button>
              </label>
            </label>

            <input type="checkbox" id="my-modal-delete-{{date.id}}" class="modal-toggle"/>
            <label for="my-modal-delete-{{date.id}}" class="modal cursor-pointer">
              <label class="modal-box relative" for="my-modal-delete-{{date.id}}">
                <h3 class="text-lg font-bold">Termin löschen!</h3>
                <p class="py-4">Möchtest du den Termin am
                  <br><strong>{{getDate(date.date_time)| date:'longDate'}}
                    um {{getDate(date.date_time)| date:'shortTime'}}</strong><br> wirklich löschen?</p>
                <button class="btn btn-error" (click)="removeDate(date.id)">Termin löschen!</button>
              </label>
            </label>
          </div>
        </div>
      </div>
      <button class="btn btn-info mt-8 text-white">Kein passender Termin dabei?</button>
    </div>
    <div class="border border-1 border-red-50 rounded-md tutor p-4">
      <img class="rounded-full m-auto object-cover mb-4" src="{{dates[0].tutors.photo}}"
           alt="{{dates[0].tutors.first_name}} {{dates[0].tutors.last_name}}">
      <p class="font-bold text-xl mb-3">{{dates[0].tutors.first_name}} {{dates[0].tutors.last_name}}
        , {{dates[0].tutors.age}} Jahre</p>
      <p class="font-bold text-xl mb-6">Informationen über {{dates[0].tutors.first_name}}:</p>
      <p>Studium: {{dates[0].tutors.education}} ({{dates[0].tutors.degree}})</p>
      <p>aktuelles Semester: {{dates[0].tutors.semester}}. Semester</p>
      <br>
      <p>E-Mail: <a [href]="'mailto:' + dates[0].tutors.email">{{dates[0].tutors.email}}</a></p>
      <p>Telefon: <a [href]="'tel:' + dates[0].tutors.phone_number">{{dates[0].tutors.phone_number}}</a></p>
    </div>
  </div>
  <div class="buttons flex gap-8 justify-center mb-8">
    <label *ngIf="auth.isLoggedIn && dates[0].tutors.id==userId" for="my-modal-delete"
           class="btn btn-error modal-button">
      <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
      </svg>
      Angebot löschen
    </label>
    <button *ngIf="auth.isLoggedIn && dates[0].tutors.id==userId" class="btn btn-primary">
      <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
      </svg>
      Angebot bearbeiten
    </button>

    <!-- Put this part before </body> tag -->
    <input type="checkbox" id="my-modal-delete" class="modal-toggle"/>
    <label for="my-modal-delete" class="modal cursor-pointer">
      <label class="modal-box relative text-center" for="my-modal-delete">
        <h3 class="text-lg font-bold">Angebot löschen!</h3>
        <p class="py-4">Möchtest du das Angebot
          <i><strong>{{dates[0].offers.title}}</strong></i>
          wirklich löschen?
        </p>
        <button class="btn btn-error" (click)="removeOffer()">Angebot löschen</button>
      </label>
    </label>
  </div>
</div>
