<div class="min-h-screen">
  <div class="details-header relative mb-12"
       *ngIf="course && program && offer">
    <img class="w-full object-cover course-image" src="{{course.image}}" alt="{{offer.title}}">
    <div class="header-text absolute text-center left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
      <h1 class="mb-5 text-5xl font-bold">{{offer.title}}</h1>
      <h2 class="mb-5 text-xl font-bold">{{program.program_name}} | {{course.course_name}}
        | {{course.semester}}.
        Semester</h2>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 text-center mx-4 content">
    <div>
      <p class="text-xl mb-4 font-bold">Informationen zum Angebot:</p>
      <p>{{offer.information}}</p>
    </div>
    <div class="dates">
      <p class="text-xl mb-4 font-bold !block">Freie Termine:</p>
      <div class="flex flex-wrap gap-4 justify-center">
        <div *ngFor="let date of dates">
          <div *ngIf="!date.accepted && isInFuture(date.date_time) && !date.student_id "
               class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body">
              <h2 class="card-title">{{offer.title}}</h2>
              <p>freier Termin am: {{getDate(date.date_time)| date:'longDate'}}
                um {{getDate(date.date_time)| date:'shortTime'}}</p>
              <div class="card-actions justify-end">
                <label *ngIf="auth.isLoggedIn() && date.tutor_id==userId" for="my-modal-delete-{{date.id}}"
                       class="btn btn-error modal-button">
                  Termin löschen
                </label>
                <!-- The button to open modal -->
                <label *ngIf="auth.isLoggedIn() && date.tutor_id!=userId" for="my-modal-{{date.id}}"
                       class="btn btn-primary modal-button">jetzt
                  buchen</label>
                <p class="text-xs text-red-700" *ngIf="auth.isLoggedOut()">Du musst dich einloggen, um Termine buchen zu
                  können!</p>
              </div>
            </div>
            <!-- Put this part before </body> tag -->
            <input type="checkbox" id="my-modal-{{date.id}}" class="modal-toggle"/>
            <label for="my-modal-{{date.id}}" class="modal cursor-pointer">
              <label class="modal-box relative" for="my-modal-{{date.id}}">
                <h3 class="text-lg font-bold">Termin buchen!</h3>
                <p class="py-4">Möchtest du den Termin am <br><strong>{{getDate(date.date_time)| date:'longDate'}}
                  um {{getDate(date.date_time)| date:'shortTime'}}</strong><br> wirklich buchen?</p>
                <button class="btn btn-primary" (click)="book(date)">jetzt verbindlich buchen!</button>
              </label>
            </label>

            <input type="checkbox" id="my-modal-delete-{{date.id}}" class="modal-toggle"/>
            <label for="my-modal-delete-{{date.id}}" class="modal cursor-pointer">
              <label class="modal-box relative" for="my-modal-delete-{{date.id}}">
                <h3 class="text-lg font-bold">Termin löschen!</h3>
                <p class="py-4">Möchtest du den Termin am
                  <br><strong>{{getDate(date.date_time)| date:'longDate'}}
                    um {{getDate(date.date_time)| date:'shortTime'}}</strong><br> wirklich löschen?</p>
                <button class="btn btn-error" (click)="removeDate(date.id)">Termin löschen!</button>
              </label>
            </label>
          </div>
        </div>
      </div>
      <label *ngIf="auth.isLoggedIn() && tutor.id != offer.userId" for="my-modal-message"
             class="btn btn-info mt-8 text-white modal-button">Kein passender Termin dabei?
      </label>
    </div>
    <div class="border border-1 border-red-50 rounded-md tutor p-4">
      <img class="rounded-full m-auto object-cover mb-4" src="{{tutor.photo}}"
           alt="{{tutor.first_name}} {{tutor.last_name}}">
      <p class="font-bold text-xl mb-3">{{tutor.first_name}} {{tutor.last_name}}
        , {{tutor.age}} Jahre</p>
      <p class="font-bold text-xl mb-6">Informationen über {{tutor.first_name}}:</p>
      <p>Studium: {{tutor.education}} ({{tutor.degree}})</p>
      <p>aktuelles Semester: {{tutor.semester}}. Semester</p>
      <br>
      <p>E-Mail: <a [href]="'mailto:' + tutor.email">{{tutor.email}}</a></p>
      <p>Telefon: <a [href]="'tel:' + tutor.phone_number">{{tutor.phone_number}}</a></p>
    </div>
  </div>
  <div class="buttons flex gap-8 justify-center mb-8">
    <label *ngIf="auth.isLoggedIn && tutor.id==userId" for="my-modal-delete"
           class="btn btn-error modal-button">
      <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
      </svg>
      Angebot löschen
    </label>
    <a *ngIf="auth.isLoggedIn && tutor.id==userId" [routerLink]="['./admin']" class="btn btn-primary">
      <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
      </svg>
      Angebot bearbeiten
    </a>
    <!-- Put this part before </body> tag -->
    <input type="checkbox" id="my-modal-delete" class="modal-toggle"/>
    <label for="my-modal-delete" class="modal cursor-pointer">
      <label class="modal-box relative text-center" for="my-modal-delete">
        <h3 class="text-lg font-bold">Angebot löschen!</h3>
        <p class="py-4">Möchtest du das Angebot
          <i><strong>{{offer.title}}</strong></i>
          wirklich löschen?
        </p>
        <button class="btn btn-error" (click)="removeOffer()">Angebot löschen</button>
      </label>
    </label>

    <input type="checkbox" id="my-modal-message" class="modal-toggle"/>
    <label for="my-modal-message" class="modal cursor-pointer">
      <label class="modal-box relative text-center" for="my-modal-delete">
        <h3 class="text-lg font-bold">Termin vorschlagen</h3>
        <form class="max-w-full" [formGroup]="dateSuggestionForm" (ngSubmit)="submitForm()">
          <input type="hidden" formControlName="id">

          <div class="form-control w-full max-w-xs">
            <label class="label">
              <span class="label-text">Deine Nachricht an <b>{{tutor.first_name}}</b></span>
            </label>
            <input type="text" formControlName="text" placeholder="Deine Nachricht ..."
                   class="input input-bordered w-full max-w-xs">
          </div>

          <div class="form-control w-full max-w-xs">
            <label class="label">
              <span class="label-text">Terminvorschlag</span>
            </label>
            <input type="datetime-local" class="input input-bordered w-full max-w-xs" formControlName="date_time">
          </div>
          <button class="btn btn-primary mt-4">Terminvorschlag senden</button>
        </form>
      </label>
    </label>
  </div>
</div>
