<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img alt="" src="" class="max-w-sm rounded-lg shadow-2xl"/>
    <div>
      <h1 class="text-5xl font-bold">Student help Students GmbH</h1>
      <p class="py-6">Webprojekt KWM 6. Semester<br>
        Michael Eder<br>
        Softwarepark 11<br>
        4323 Hagenberg im Mühlkreis</p>
      <p class="py-6 text-xl">Bildnachweis:</p>
      Roboter auf 404-Seite:
      <a class="italic" href="https://storyset.com/web" target="_blank">Web illustrations by Storyset</a>

    </div>
  </div>
</div>
