<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col">
    <img alt="" src="./assets/404.svg" class="max-w-sm rounded-lg"/>
    <div class="text-center mt-4">
      <h1 class="text-5xl font-bold">404</h1>
      <p class="py-6 text-5xl">Ooops! Das solltest du eigentlich nicht sehen.</p>
      <p class="py-6 text-2xl">Die gesuchte Seite existiert leider nicht mehr. Gehe zurück zur Startseite und denke daran: Du hast hier nichts gesehen.</p>
      <a routerLink="/" class="btn btn-primary mt-4">zur Startseite</a>
    </div>
  </div>
</div>
