<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <div class="avatar mb-12">
        <div class="w-40 rounded">
          <img src="{{user.photo}}" alt="{{user.first_name}} {{user.last_name}}" title="{{user.first_name}} {{user.last_name}}"/>
        </div>
      </div>
      <h1 class="text-5xl font-bold mb-4">Hallo {{user.first_name}}!</h1>
      <span class="block mb-24">Registriert seit: {{user.created_at | date:'longDate'}}</span>
      <div class="text-left">
        <p class="text-2xl font-bold">Deine Daten:</p>
        <p class="text-xl font-bold my-4">Vorname: <span class="font-normal">{{user.first_name}}</span></p>
        <p class="text-xl font-bold my-4">Nachname: <span class="font-normal">{{user.last_name}}</span></p>
        <p class="text-xl font-bold my-4">Alter: <span class="font-normal">{{user.age}}</span></p>
        <p class="text-xl font-bold my-4">E-Mail: <span class="font-normal">{{user.email}}</span></p>
        <p class="text-xl font-bold my-4">Telefonnummer: <span class="font-normal">{{user.phone_number}}</span></p>
        <p class="text-xl font-bold my-4">Studiengang: <span class="font-normal">{{user.education}}</span></p>
        <p class="text-xl font-bold my-4">Bachelor/Master: <span class="font-normal">{{user.degree}}</span></p>
        <p class="text-xl font-bold my-4">Semester: <span class="font-normal">{{user.semester}}</span></p>
        <p class="text-xl font-bold my-4">Rolle: <span class="font-normal">{{roleFlag}}</span></p>
      </div>
    </div>
  </div>
</div>

<!-- Tutors stuff -->

<h2 *ngIf="roleFlag!='Nachhilfe-Suchender'" class="bg-transparent text-2xl font-bold m-8">Meine Angebote</h2>
<div class="m-8" *ngIf="roleFlag!='Nachhilfe-Suchender'">
  <table class="table w-full">
    <!-- head -->
    <thead>
    <tr>
      <th></th>
      <th>Kurs</th>
      <th>Information</th>
      <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <!-- row 1 -->
    <tr *ngFor="let offer of offers; index as i;">
      <th>{{i + 1}}</th>
      <td>{{getCourse(offer.course_id).course_name}} | <strong>{{offer.title}}</strong></td>
      <td>{{offer.information}}</td>
      <td>
        <a routerLink="/lehrveranstaltungen/{{getProgram(offer.program_id).program_name}}/{{getCourse(offer.course_id).code}}/angebote/{{offer.id}}">zum
          Angebot</a>
      </td>
    </tr>
    </tbody>
  </table>
</div><!-- Students stuff -->

<h2 class="bg-transparent text-2xl font-bold m-8" *ngIf="roleFlag=='Nachhilfe-Suchender'">Gebuchte Termine</h2>
<h2 class="bg-transparent text-2xl font-bold m-8" *ngIf="roleFlag!='Nachhilfe-Suchender'">Meine angebotenen Termine</h2>
<div class="m-8" *ngIf="roleFlag!='Nachhilfe-Suchender'">
  <table class="table w-full">
    <!-- head -->
    <thead>
    <tr>
      <th></th>
      <th>Kurs</th>
      <th>Information</th>
      <th>Datum/Uhrzeit</th>
      <th>Status</th>
      <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <!-- row 1 -->
    <tr *ngFor="let stuff of tutorStuff; index as i;">
      <th>{{i + 1}}</th>
      <td>{{getCourse(stuff.course_id).course_name}} | <strong>{{getOffer(stuff.offer_id).title}}</strong></td>
      <td>{{getOffer(stuff.offer_id).information}}</td>
      <td>{{getDate(stuff.date_time) | date:'longDate'}}, {{getDate(stuff.date_time) | date:'shortTime'}} Uhr</td>
      <td *ngIf="roleFlag!='Nachhilfe-Suchender'">
        <span *ngIf="stuff.student_id && isInFuture(stuff.date_time)" class="text-red-700 font-bold">gebucht von {{getUser(stuff.student_id).first_name}}</span>
        <span *ngIf="!stuff.student_id && isInFuture(stuff.date_time)" class="text-green-700 font-bold">frei</span>
        <span *ngIf="stuff.student_id && !isInFuture(stuff.date_time)" class="text-primary font-bold">abgeschloßen</span>
        <span *ngIf="!stuff.student_id && !isInFuture(stuff.date_time)" class="text-primary font-bold">nicht gebucht</span>
      </td>
      <td *ngIf="roleFlag=='Nachhilfe-Suchender'">
        <span *ngIf="stuff.student_id && isInFuture(stuff.date_time)" class="text-red-700 font-bold">gebucht</span>
        <span *ngIf="stuff.student_id && !isInFuture(stuff.date_time)" class="text-primary font-bold">abgeschloßen</span>
      </td>
      <td>
        <a routerLink="/lehrveranstaltungen/{{getProgram(stuff.program_id).program_name}}/{{getCourse(stuff.course_id).code}}/angebote/{{stuff.offer_id}}">zum
          Angebot
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="m-8" *ngIf="!auth.isTutor()">
  <table class="table w-full">
    <!-- head -->
    <thead>
    <tr>
      <th></th>
      <th>Kurs</th>
      <th>Information</th>
      <th>Datum/Uhrzeit</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <!-- row 1 -->
    <tr *ngFor="let stuff of studentStuff; index as i;">
      <th>{{i + 1}}</th>
      <td>{{getCourse(stuff.course_id).course_name}} | <strong>{{getOffer(stuff.offer_id).title}}</strong></td>
      <td>{{getOffer(stuff.offer_id).information}}</td>
      <td>{{getDate(stuff.date_time) | date:'longDate'}}, {{getDate(stuff.date_time) | date:'shortTime'}} Uhr</td>
      <td>
        <span *ngIf="isInFuture(stuff.date_time)" class="text-green-700 font-bold">anstehend</span>
        <span *ngIf="!isInFuture(stuff.date_time)" class="text-red-700 font-bold">abgeschloßen</span>
      </td>
    </tr>
    </tbody>
  </table>
</div><!-- Messages -->
<h2 class="bg-transparent text-2xl font-bold m-8" *ngIf="!auth.isTutor()">Deine gesendeten Nachrichten</h2>
<h2 class="bg-transparent text-2xl font-bold m-8" *ngIf="auth.isTutor()">Deine erhaltenen Nachrichten</h2>
<div class="m-8" *ngIf="auth.isTutor()">
  <table class="table w-full">
    <!-- head -->
    <thead>
    <tr>
      <th></th>
      <th>Kurs</th>
      <th>Von</th>
      <th>Text</th>
      <th>vorgeschlagener Termin</th>
      <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <!-- row 1 -->
    <tr *ngFor="let message of messages; index as i;">
      <th>{{i + 1}}</th>
      <td>{{getCourse(message.course_id).course_name}} | <strong>{{getOffer(message.offer_id).title}}</strong></td>
      <td>{{getUser(message.student_id).first_name}} {{getUser(message.student_id).last_name}}</td>
      <td>{{message.text}}</td>
      <td>{{getDate(message.date_time) | date:'longDate'}}, {{getDate(message.date_time) | date:'shortTime'}} Uhr</td>
      <td>
        <a routerLink="/lehrveranstaltungen/{{getProgram(message.program_id).program_name}}/{{getCourse(message.course_id).code}}/angebote/{{message.offer_id}}/admin">
          Termin hinzufügen </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="m-8" *ngIf="!auth.isTutor()">
  <table class="table w-full">
    <!-- head -->
    <thead>
    <tr>
      <th></th>
      <th>Kurs</th>
      <th>An</th>
      <th>Text</th>
      <th>vorgeschlagener Termin</th>
    </tr>
    </thead>
    <tbody>
    <!-- row 1 -->
    <tr *ngFor="let message of messages; index as i;">
      <th>{{i + 1}}</th>
      <td>{{getCourse(message.course_id).course_name}} | <strong>{{getOffer(message.offer_id).title}}</strong></td>
      <td>{{getUser(message.tutor_id).first_name}} {{getUser(message.tutor_id).last_name}}</td>
      <td>{{message.text}}</td>
      <td>{{getDate(message.date_time) | date:'longDate'}}, {{getDate(message.date_time) | date:'shortTime'}} Uhr</td>
    </tr>
    </tbody>
  </table>
</div>
